
#seckillForm .form{width:340px;height:440px;background:#99CC33;border-radius:8px;box-shadow:0 0 40px -10px #000;margin:calc(50vh - 220px) auto;padding:20px 30px;max-width:calc(100vw - 40px);box-sizing:border-box;font-family:'Montserrat',sans-serif;position:relative}
#seckillForm h2{margin:10px 0;padding-bottom:10px;width:180px;color:#78788c;border-bottom:3px solid #78788c}
#seckillForm input{width:100%;padding:10px;box-sizing:border-box;background:none;outline:none;resize:none;border:0;font-family:'Montserrat',sans-serif;transition:all .3s;border-bottom:2px solid #bebed2}
#seckillForm input:focus{border-bottom:2px solid #78788c}
#seckillForm p:before{content:attr(type);display:block;margin:28px 0 0;font-size:14px;color:#FF6600}
#seckillForm button{float:right;padding:8px 12px;margin:8px 0 0;font-family:'Montserrat',sans-serif;border:2px solid #78788c;background:0;color:#5a5a6e;cursor:pointer;transition:all .3s}
#seckillForm button:hover{background:#78788c;color:#fff}
#seckillForm span{margin:0 5px 0 15px}